<ion-view view-title="Categorias">
  <ion-content class="categorias-dfk">

  <div class="list">

    <a ng-repeat="categoria in categorias" href="#/app/vinos/{{categoria.nombreCategoria.replace(' ', '_')}}" class="item item-thumbnail-left .center-content" href="#">
      <img src="img/botella_1_ejemplo_tinto.png">
      <h2> {{categoria.nombreCategoria}}</h2>
    </a>

     <!--  <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a> -->

  </div>

  </ion-content>
</ion-view>