<ion-view view-title="Vino: {{nombreVino}}" class="bar-title">
  <ion-content class="vino-bg-dfk">
    
    <div class="row">
      <div class="col col-33">
        <img src="{{imagen}}" alt="" width="100%">
      </div>

      <div class="col col-67 col-center">

        <h2 style="color:white;">Vino {{nombreVino}}</h2>
        <hr>
        <p class="vino-descripcion-dfk">{{descripcion}}</p>
        <p class="vino-descripcion-dfk">Precio: ${{precio}}</p>
      </div>

    </div>

    <h2  style="color: white; text-align: left;">Recomendamos este vino con:</h2>
    <hr>

    <div  ng-repeat="singleComida in allComidas " >
       <div class="row" ng-if="$index % 3 === 0">

            <div class="row">
            
              <div class="col col-33" ng-if="$index < allComidas.length">
                <div class="list card">
                  <div class="item item-body" style="min-height: 415px; max-height: 415px;">

                    <img class="full-image" src="{{allComidas[$index].urlImage}}">
                    <p>
                    <h2>{{allComidas[$index].nombreComida}}</h2>
                    </p>
                  </div>
                </div>
              </div>

            
            
              <div class="col col-33" ng-if="$index + 1 < allComidas.length">
                <div class="list card">
                  <div class="item item-body" style="min-height: 415px; max-height: 415px;">
                    <img class="full-image" src="{{allComidas[$index + 1].urlImage}}">
                    <p>
                    <h2>{{allComidas[$index + 1].nombreComida}}</h2>
                    </p>
                  </div>
                </div>
              </div>



  
            
              <div class="col col-33" ng-if="$index + 2 < allComidas.length">
                <div class="list card">
                  <div class="item item-body" style="min-height: 415px; max-height: 415px;">
                    <img class="full-image" src="{{allComidas[$index + 2].urlImage}}">
                    <p>
                    <h2>{{allComidas[$index + 2].nombreComida}}</h2>
                    </p>
                  </div>
                </div>
              </div>


        </div>
      </div>



  </ion-content>
</ion-view>
